<mat-card>
    <mat-card-title>Estoque</mat-card-title>
    <form action="">
        <mat-form-field>
            <input matInput placeholder="Produto">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Fornecedor">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Quantidade">
        </mat-form-field>
        <mat-form-field> 
            <input matInput placeholder="Valor">
        </mat-form-field>
        <mat-form-field> 
            <input matInput placeholder="Lote">
        </mat-form-field>
    </form>

    <button mat-raised-button color="primary">
        Salvar
    </button>
    
    <button mat-raised-button>
        Cancelar
    </button>
    

</mat-card>



